body{
        background-color:bisque;
}

header{
    background-color:rgb(240, 125, 84);
    border: black 1px solid;
}

h1{
    color: rgb(26, 3, 3);
    text-align: center;
    border: black 2px solid; 
    margin: 30px 30px;   
    font-style:inherit;
    font-size:xx-large;
}

nav{
    text-align: center;
}

li{
    border:black 2px solid;
    display: inline;
    background-color: cornsilk;
    padding: 0px 20px 5px 20px;
    margin: 0px 100px;
}

article{
    text-align:center;
}

p{
    color:#c2581b ;
    text-align: left;
}

article{
    margin-top: 50px;
}

footer{
    background-color:rgb(240, 125, 84);
    border: black 1px solid;
    padding-left: 30px;
    margin-top: 60px;
}

#ptag_color{
    color: ivory;
}